body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

#backLinks {
  padding-top:16px;
}

#buttons {
  padding-top:8px;
  padding-bottom:8px;
}

a {
  color:#A0A0FF;
}

.textBox {
  width:400px;
  padding: 8px;
  border: 2px solid grey;
}
